@import url("https://fonts.googleapis.com/css2?family=Poppins");
:root {
  --charcoal: #373f51;
  --emerald: #5dd39e;
  --periwinkle: #d1d2f9;
  --bittersweet: #ff5a5f;
  --fireenginered: #c81d25;
  font-family: "Poppins";
}

button {
  font-family: inherit;

  background-color: var(--emerald);
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: x-large;
}

a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

input {
  font-size: xx-large;
}
